// element相关样式重置
.el-button [class*="my-icon-"] {
  &+span {
    margin-left: 5px;
  }
}

.el-form{
    &.el-form--label-top{
        .el-form-item{
            &.half{
                width:50%;
                float: left;
            }
            .el-form-item__label{
                height: 25px;
                line-height: 25px;
                font-size:12px;
            }
        }

    }
}
